.about{
  font-family: 'Thasadith', sans-serif;
  font-weight: bolder;
  padding-left:10%;
}
h1{
  text-decoration: underline;
  text-decoration-color: rgb(14, 113, 158)
}
p{
  line-height: 1.6;
  font-family: 'Ubuntu',Arial,serif;
  font-weight: 400;
  font-size:1.2rem;
}
#quickLinks{
  list-style-type: none;
  padding-left:0.2%;
  font-size:1.3rem;
}
li{
  padding-top: 1%;
  padding-left:0;
}
.grid-wrapper{
  margin-top:3%;
  margin-left:4%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 2fr 1fr; 
  justify-self: center;
  align-self: center;
}
#quickLinks li:hover{
  color: rgb(14, 113, 158);
  cursor: pointer;
}
#vc{
  height: 250px;
  width: auto;
  margin-top:15%;
}
.icon{
  height:30px;
}
.messageGrid{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;
}
.message{
  text-align: justify;
  text-justify: inter-word;
}
.msg{
  margin-bottom: 0;
  padding-bottom: 0;
}
.msgB{
  margin-top: 0;
  padding-top:0;
}
.shortMsg{
  background-color:rgb(252, 247, 247);
  display:inline-block;
  border-left: 4px solid rgb(14, 113, 158)
}
.link:hover{
  color: rgb(14, 113, 158);
  text-decoration: underline;
}
.messageGrid2{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 20px;
}